{% extends "base.html" %}

{% block main %}
<section class="mb-8 flex items-center justify-between">
    <div>
    <h1 class="text-5xl">About Konstantinos Droulias</h1>
    <p>I am a full-stack developer in training.</p>
    </div>
    {% include 'components/profile-card.html' %}
</section>

<section class="my-8">
    <div class="mb-4">
        <h2 class="text-2xl font-semibold mb-2" >Programming Skills</h2>
        <p>I am backend focus but my projects require frontend knowledge</p>
    </div>
    <div class="p-5 border border-dashed border-gray-300 rounded-lg">
        <p class="text-xl mb-2">Total Projects Completed {{ projects.count }}</p>
        <div class="grid grid-cols-3 gap-5">
        {% for tag in tags %}
            <a href="{% url 'tag' tag.id %}" class="rounded-lg bg-white shadow-sm hover:cursor-pointer p-4 space-y-2">
                <div class="flex items-center gap-2 ">
                    <p>{{ tag.name }} used in </p>
                    <span>{{ tag.project_set.count }} projects</span>
                </div>
                <span class="text-blue-400 text-sm">{{ tag.percentage }}%</span>
                <div class="w-full bg-gray-200 rounded-full h-2.5 overflow-hidden">
                    <div class="bg-blue-200 h-2.5 rounded-full transition-all duration-500"
                         style="width: {{ tag.percentage }}%">
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}