SECRET_KEY=django-insecure-tz1!8!zn7(2nxycu@u!r_vr5co--h!^-$qh*5&6joj0#)06&ob
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.postgresql
DB_NAME=portfolio
DB_USER=postgres
DB_PASSWORD=11
DB_HOST=localhost
DB_PORT=5432