<div>
    {% load static %}
    <div class="relative inline-block w-fit">

        <img width="300px" src="{% static 'img/me.png' %}" alt="Portrait of Konstantinos" class="rounded-full shadow-md bg-white">

        <div class="p-2 rounded-lg shadow-md absolute top-0 right-0 bg-white">
            <a target="_blank" href="https://github.com/KonstantinosDroulias">
                <img width="50px" src="{% static 'img/github.png' %}" alt="Github Logo">
            </a>
        </div>

        <div class="p-2 rounded-lg shadow-md absolute bottom-0 left-0 bg-white">
            <a target="_blank" href="https://github.com/KonstantinosDroulias">
                <img width="50px" src="{% static 'img/linkedin.png' %}" alt="LinkedIn Logo">
            </a>
        </div>

    </div>
</div>